<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProjectManagementEntities" connectionString="metadata=res://*/ProjectManagementModel.csdl|res://*/ProjectManagementModel.ssdl|res://*/ProjectManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.34.114;initial catalog=ProjectManagement;persist security info=True;user id=msit12003;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>